*{
    margin:0;
    padding:0;

}
.parent{
    border :1px solid black;
    background-color: rgb(86,175,175);
    height: 100vh;
    display: flex;
   
    /* flex-direction: column; */
    /* flex-direction: row column row row-reverse column-reverse */
    /* gap:100px */
    /* justify-content:center ;
    justify-content: space-around;
     justify-content: space-evenly;
    justify-content: space-between;
   */
    /* align-items:end,start,center ; */
    flex-wrap: wrap;
  align-content: space-around;
/* withspace */
  /* or */
/* justify-content: center; without space */
 
  
    /* align-items-centers makes the content visible at the center of the page; */
 
   
}
.child
{
    border: 1px solid black;
    background-color: brown;
    width: 150px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1{
    flex-grow: 2;
   /* Allow items to grow */
            flex-basis: 100px;
    /* grow with 2x speed or shrink in same speed */
}
/* align-content/align items,flexbasis,flex : shorthand */